---

---

<div class="header">
    <a href="/" class="title heading-l" >Listening to Ballona</a>
</div>

<style>
.header {
        flex-direction: column;
        align-items: stretch;
        display: flex;
        padding: 0px 48px;
        margin-bottom: 32px;
        width: 100%;
        height: 120px;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
}

    .title {
        font-family: var(--font-family-headline); 
        color: black;
        text-align: left;
        text-decoration: none;
    }

    @media screen and (max-width: 1000px) {
    .header {
        padding: 0px 32px;
        }
    }
    @media screen and (max-width: 600px) {
        .header {
        padding: 0px 12px;
        }
    }
</style>
